body {
    background: #a9a9a9;
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#Container {
    padding: 0 20px 10px 20px;
    border: 3px solid black;
    border-radius: 20px;    
    box-shadow: 10px 7px 9px -7px rgba(0,0,0,0.75);    
    display: grid;
    grid-template-areas:
    "title title title"
    "breakcontrol . sessioncontrol"
    ". timer .";
    grid-template-columns: auto;
    grid-template-rows: 200px 200px 200px;
    align-content: space-around;
}

#app-title {
    color: #fff5e5;
    font-size: 5em;
    margin: auto;
    text-align: center;
    grid-area: title;
}

#break-control {
    grid-area: breakcontrol;
}

#session-control {
    grid-area: sessioncontrol;
}

.timer-box {
    display: flex;
    grid-area: timer;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    #timer-label {
        font-size: 2em;
        text-align: center;
        min-width: 100%;
    }

    #time-left {
        font-size: 4em;
        text-align: center;
        min-width: 100%;
    }
}

.icon {        
    color: #0073ff;
    font-size: 3em;
    transition: font-size 0.5s;
}

.icon:hover {
    color: darkorange;
    font-size: 4em;
    transition: font-size 0.5s;
}

.duration-control {
    border: 1px solid black;
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;    

    #break-label,#session-label{
        font-size: 2em;
        min-width: 100%;
        text-align: center;
    }

    #break-length,#session-length {
        order: 2;
        font-size: 2em;
    }

    #break-increment,#session-increment{
        order:3;
    }
}